doctype html
html(lang='es')
        include ./head.pug
        body
          div#backdrop
          div#red_social
          include ./headernav.pug
          main
            section#galeria 
              article.boxshadow.box(data-aos="zoom-out")
                iframe(src="https://www.youtube.com/embed/15Jzey8k7B0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                p Bohemian Rhapsody<br>(Queen)
              article.boxshadow.box(data-aos="zoom-out")
                iframe(src="https://www.youtube.com/embed/ZM9ETYdFKAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen) 
                p Livin' On A Prayer<br>(Bon Jovi)
              article.boxshadow.box(data-aos="zoom-out")
                iframe(src="https://www.youtube.com/embed/kwAwnM52pDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen) 
                p Love Of My Life<br>(Queen)
              article.boxshadow.box(data-aos="zoom-out")
                iframe(src="https://www.youtube.com/embed/PHHjJd4qBnM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                p We Will Rock You<br>Show Must Go On<br>(Queen)
              article.boxshadow.box(data-aos="zoom-out")
                iframe(src="https://www.youtube.com/embed/nxzV-EhHo-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen) 
                p Oh Happy Day
              article.boxshadow.box(data-aos="zoom-out")
                iframe(src="https://www.youtube.com/embed/MUzgYRLp2ZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                p Hit the Road Jack
              article.boxshadow.box(data-aos="zoom-out")
                iframe(src="https://www.youtube.com/embed/AGsgFJ8XZv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                p Stand By Me<br>(Ben E. King)
              article.boxshadow.box(data-aos="zoom-out") 
                iframe(src="https://www.youtube.com/embed/vyDKraXEJ3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                p Hallellujah<br>(Leonard Cohen)
          include ./footer.pug