-const secciones={'Inici':"index.html",'Pròxims concerts':"conciertos.html",'Galeria':"galería.html",'Qui som?':"quienessomos.html","T'agrada cantar?":"cantar.html",'Contacta':"contacta.html"}
header.boxshadow
  img(src="./img/logo.png", alt="Logo de MEGÓC")
  img(src="./img/marca2.png",alt="Letras MEGÓC")
  nav
    each val,key in secciones 
      a(href=`./${val}`) #{key}
  div#redes_sociales
      i#facebook.fa-brands.fa-facebook-f
      i#instagram.fa-brands.fa-instagram
      i#youtube.fa-brands.fa-youtube
  div#menu_hamburguesa
      i.fa.fa-bars