doctype html
html(lang='es')
        include ./head.pug
        body
          div#backdrop
          div#red_social
          include ./headernav.pug
          main
            section#origen.boxshadow.box
              h2 Origen 
              div
                img(src="./img/marca2.png", alt="Logo MEGÓC")
                div
                  p A la fi de l'any 2016, <b>Pablo de Torres</b> i <b>Pepe Alacid</b> amics i companys durant anys de treball junts en diferents projectes musicals, decideixen reunir un grup de amants de la musica per a crear un projecte nou a Oliva (Espanya).<br> Un <b>grup de música</b> amb el qual poder crear produccions i espectacles basats en la música vocal a través dels que transmetre talent i l'energia.<br> L'inici d'un projecte que en molt poc temps va cridar l'atenció del públic i la crítica per la seua <b>originalitat, caràcter, qualitat i joventut</b>. MEGÓC.
                  br
            section#director.boxshadow.box
              h2 Director 
              div
                div
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium molestiae facilis autem distinctio. Veritatis, adipisci dolorem? Facilis placeat minus quasi harum. Quos, perspiciatis corporis? Dolores deleniti quae in iure modi?<br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusamus soluta tempora harum veritatis exercitationem corporis cumque ex distinctio sed iusto corrupti quaerat quos reprehenderit dolore doloribus nostrum ducimus illo?
                  br
                img(src="./img/director.png", alt="Director MEGÓC")
            section#miembros.boxshadow.box
              h2 Membres 
              div
                img(src="./img/GRUPO.jpg", alt="Miembros MEGÓC")
          include ./footer.pug